.farm {
    width:100%
}

.farm-tile {
    width:10%;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border: 1px solid;
}

.box {
    text-align: -webkit-center;
    color: green;
}

.loginbox {
    margin: 20px;
    width: 500px;
    color: black;
    padding: 50px;
    border: 1px solid ;
}

.registerbox {
    margin: 20px;
    width: 500px;
    color: black;
    padding: 50px;
    border: 1px solid ;
}
