{% extends "template.html" %}
{% block title %} CamoFlask {% endblock %}
{% block body %}
    <h1>{{ message }}</h1>
    {% if noFarm %}
        <form  action="/location", method="POST">
            Farm Name : <input type="text" name="farmName"> <br>
            Location : <input type="text" name="location"> <br>
            Visibility: <input type="text" name="visible" placeholder="0-public, 1-private, or 2-friends only"> <br>
            <button type="submit"> Create Farm </button>
        </form>
    {% else %}
    <table class="farm">
        {% set counter = 0 %}
        {% for row in farm %}
            <tr>
                {% for tile in row %}
                    {% if tile == 'Dirt' %}
                        <td class="farm-tile" data-open="Plant-Modal" id="plantable{{counter}}" onclick="tileSelect('plantable{{counter}}')">
                            {{tile}}
                        </td>
                        {% set counter = counter + 1 %}
                    {% else %}
                        <td class="farm-tile">{{tile}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}

    </table>
    {% endif %}

    <form action="/viewprofile">
        <button type="submit"> View Profile </button>
    </form>
    <form action="/logout">
        <button type="submit"> Logout </button>
    </form>

    <p><button class="button" data-open="Plant-Modal">Click me for a modal</button></p>

    <!-- Plant popup -->
    <div class="reveal" id="Plant-Modal" data-reveal>
        <h1>What crop would you like to plant?</h1>
        {% for crop in cropTypes['crops'] %}
            <button class="button primary" data-close onclick = "plant_crop('{{ crop['name'] }}');">{{ crop['name'] }}:{{ crop['variety'] }}</button>
        {% endfor %}
	<!--
        <button class="close-button" id="modal-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    -->
    </div>

{% endblock %}
