<!DOCTYPE html>

<html>
    <head>
        <title>Your Most Recent Farm: {{ name }}</title>
        <link rel="stylesheet" href="static/style.css">
    </head>

    <body>
        <h1>{{ message }}</h1>

        <table class="farm">
            {% for x in range(10) %}
                <tr>
                    {% for y in range(10) %}
                        {% if y == 5 %}
                            <td class="farm-tile">G</td>
                        {% else %}
                            <td class="farm-tile">{{y}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}

        </table>

        <form action="/viewprofile">
            <button type="submit"> View Profile </button>
        </form>
        <form action="/logout">
            <button type="submit"> Logout </button>
        </form>
    </body>

    <script type="text/javascript" src="{{ url_for('static', filename='farm.js') }}"></script>
</html>
