<!DOCTYPE html>

<html>
    <head>
        <title>Your Most Recent Farm: {{ name }}</title>
        <link rel="stylesheet" href="static/style.css">
    </head>

    <body>
        <h1>{{ message }}</h1>
        {% if noFarm %}
            <form  action="/createFarm", method="POST">
                Farm Name : <input type="text" name="farmName"> <br>
                Location : <input type="text" name="location"> <br>
                Visibility: <input type="text" name="visible" placeholder="0-public, 1-private, or 2-friends only"> <br>
                <button type="submit"> Create Farm </button>
            </form>
        {% else %}
        <table class="farm">
            {% for x in range(10) %}
                <tr>
                    {% for y in range(10) %}
                        {% if y == 5 %}
                            <td class="farm-tile">G</td>
                        {% else %}
                            <td class="farm-tile">{{y}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}

        </table>
        {% endif %}

        <form action="/viewprofile">
            <button type="submit"> View Profile </button>
        </form>
        <form action="/logout">
            <button type="submit"> Logout </button>
        </form>
    </body>

    <script type="text/javascript" src="{{ url_for('static', filename='farm.js') }}"></script>
</html>
