{% extends "template.html" %}
{% block title %} CamoFlask {% endblock %}
{% block body %}

<form action="/authentication" method="POST">
    Username: <input type="text" name="username"><br>
    Password: <input type="password" name="password"><br>
    <button type="submit"> Login </button>
</form>

<form action="/registration" method="POST">
	  Username: <input type="text" name="username"><br>
	  Password: <input type="password" name="password"><br>
	  <button type="submit"> Register </button>
  </form>

{% endblock %}
