{% extends "template.html" %}
{% block title %} {{ user }} {% endblock %}
{% block body %}

<div id="textbox" class="small-2 rows">
    Username: {{ user }}
</div>
<br>
<div id="textbox" class="small-2 rows">
    Farms Owned: <form action="/">
    <button class="button primary" type="submit"> {{farm}} </button>
    </form>
</div>
<br>
<div id="textbox" class="small-2 rows">
    Crops Planted: {{ crops }}
</div>
<br>
<div id="textbox" class="small-2 rows">
    Total Farmland: {{ land }}
</div>
<br>
<div id="textbox" class="small-2 rows">
    Total Crops Owned: {{ crops }}
</div>
<br>
<div id="textbox" class="small-2 rows">
    Total Cash: {{ cash }}
</div>

{% endblock %}
