<html class="no-js" lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description"/>
        <meta name="author">
        <title>CamoFlask {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    </head>
    {% block content %}
    <body class="body">
    {% endblock %}

        <div class="grid-y medium-grid-frame">
            {% set msgs = get_flashed_messages() %}
            {% for msg in msgs %}
                <p style="color: red">{{ msg }}</p>
            {% endfor %}
            <div style="height:90vh;" class="cell medium-auto medium-cell-block-container">
                {% block body %} Go away. You should not be here.{% endblock %}
            </div>
            <div class="cell shrink footer">
                <footer class="text-center" style="padding-right: 0.9375rem;"><br>Copyright &copy; 2019 CamoFlask</footer>
            </div>
    </body>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.1.3/what-input.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='farm.js') }}"></script>
    <script>
        $(document).foundation();
    </script>

</html>
