<html>
  <head>
    <title>CamoFlask {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="..static/css/app.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0/dist/css/foundation.min.css">
  </head>
  <body>
      {% set msgs = get_flashed_messages() %}
      {% for msg in msgs %}
        <p style="color: red">{{ msg }}</p>
      {% endfor %}
    {% block body %} Go away. You should not be here.{% endblock %}
    <footer style="padding-left: 0.9375rem;"><br>Copyright &copy; 2019 CamoFlask</footer>
  </body>
</html>
